*{
    margin: 0;
    padding: 0;
}

a{
    /* text-decoration: none; */
    color: white;
}

.box {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-red {
    border: solid #a02b2b 4px;
    border-radius: 20px;
}

.unpleasant-message {
    margin-top: 40px;
    font-size: 0.2em;
}

.date {
    font-size: 0.7em;
}

body {
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
