header {
    width: 80%;
    height: 40px;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-box {
    display: flex;
    align-items: center;
    gap: 10px;
}