{% extends 'base.html.twig' %}

{% block css %}<link rel="stylesheet" href="styles/home.css">{% endblock css %}

{% block title %}Acceuil{% endblock %}

{% block main %}
<section id="home" class="box border-red">

        <h1>Bienvenu sur ce magnifique portfolio</h1>
        
        <h2>Oui je sais, C'est beau.</h2>
        
        <p class="unpleasant-message">merci twig et php.</p>

</section>
{% endblock main %}
