{% extends 'base.html.twig' %}

{% block css %}<link rel="stylesheet" href="styles/home.css">{% endblock css %}

{% block title %}Acceuil{% endblock %}

{% block main %}
<section id="home" class="box border-red">

        <h1>Bienvenu sur ce magnifique portfolio</h1>
        
        <h2>Oui je sais, C'est beau.</h2>
        
        <p class="unpleasant-message">merci twig et php.</p>

        
</section>
<section id="disclaimer" class="box">
        <h2>/!\Disclaimer /!\ </h2>
        <p>Ceci n'est pas le rendu final de ce portfolio. Le front end est en cours de developpement dans le dossier "front" de ce repo.</p>
        <p>Il sera :</p>
        <ul>
                <li>React, sass</li>
                <li>Mobile first (Reponsive design)</li>
                <li>Data dynamique via API perso (ce dossier)</li>
        </ul>
</section>
{% endblock main %}
