@import './variable.scss';
@import './mixins.scss';

*{
    margin: 0;
    padding: 0;
}
ul {
    padding-left: 40px;
}

a{
    text-decoration: none; 
    color: black;
}

.box {
    @include flex-col;
}

.border-red {
    border: solid $red 3px;
    border-radius: 24px;
}

.border-black {
    border: solid black 3px;
    border-radius: 24px;
}

.title-box {
    margin-top: 20px;
    width: 292px;
    padding: 15px 0;

    gap: 10px;
    h1 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }
}

.unpleasant-message {
    margin-top: 40px;
    font-size: 0.2em;
}

.date {
    font-size: 0.7em;
}

html, body, #root {
    height: 100%;
}

body, #root {
    @include flex-col;
}

#root {
    justify-content: space-between;
    gap: 20px;
}

main {
    @include flex-col;
    gap: 20px;
}
