@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variable.scss';

#project-main {
    margin-top: 25px;

    h1 {
        border: solid 5px #a02b2b;
        border-radius: 10px;
        padding: 10px 15px;
    }
    
}

#project-list {
    // margin-top: 45px;

    width: 350px;

    @include flex-col;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: flex-start;
    gap: 10px;
}

.project {
    border: solid black 7px;
    border-radius: 42px;

    width: 340px;
    padding: 20px 0;

    gap: 10px;

    .project-title {
        width: 280px;

        @include flex-row;
        justify-content: space-between;
    }

    i {
        margin-left: 30px;
        color: $red;
        align-self: baseline;
    }
    .project-content {
        width: 280px;

        @include flex-col;
        gap: 10px;
        img {
            width: 280px;
            height: 156px;
            border-radius: 7px;
        }

        img:hover {
            width: 300px;
            height: 167px;
        }
    }

}

// .project:hover {
//     border: #a02b2b solid 7px;
// }

