{% extends "base.html.twig" %}

{% block title %}ERROR 403{% endblock %}

{% block css %}<link rel="stylesheet" href="/styles/error.css">{% endblock css %}

{% block main %}
    <section id="error" class="border-red box">
        <h1>ERROR 403</h1>

    </section>
    <section id="info" class="box">

        <h3>VOOOOOOOOOOUS NE PASSEREZ PAAAAAAS !<h3>
    <pre>
                                         ....<br>
                                       .'' .'''<br>
        .                             .'   :<br>
        \\                          .:    :<br>
         \\                        _:    :       ..----.._<br>
          \\                    .:::.....:::.. .'         ''.<br>
           \\                 .'  #-. .-######'     #        '.<br>
            \\                 '.##'/ ' ################       :<br>
             \\                  #####################         :<br>
              \\               ..##.-.#### .''''###'.._        :<br>
               \\             :--:########:            '.    .' :<br>
                \\..__...--.. :--:#######.'   '.         '.     :<br>
                :     :  : : '':'-:'':'::        .         '.  .'<br>
                '---'''..: :    ':    '..'''.      '.        :'<br>
                   \\  :: : :     '      ''''''.     '.      .:<br>
                    \\ ::  : :     '            '.      '      :<br>
                     \\::   : :           ....' ..:       '     '.<br>
                      \\::  : :    .....####\\ .~~.:.             :<br>
                       \\':.:.:.:'#########.===. ~ |.'-.   . '''.. :<br>
                        \\    .'  ########## \ \ _.' '. '-.       '''.<br>
                        :\\  :     ########   \ \      '.  '-.        :<br>
                       :  \\'    '   #### :    \ \      :.    '-.      :<br>
                      :  .'\\   :'  :     :     \ \       :      '-.    :<br>
                     : .'  .\\  '  :      :     :\ \       :        '.   :<br>
                     ::   :  \\'  :.      :     : \ \      :          '. :<br>
                     ::. :    \\  : :      :    ;  \ \     :           '.:<br>
                      : ':    '\\ :  :     :     :  \:\     :        ..'<br>
                         :    ' \\ :        :     ;  \|      :   .'''<br>
                         '.   '  \\:                         :.''<br>
                          .:..... \\:       :            ..''<br>
                         '._____|'.\\......'''''''.:..'''<br>
                                    \\<br>
    </pre>
</section>

{% endblock main %}