{% extends "base.html.twig" %}

{% block title %}ERROR 404{% endblock %}

{% block css %}<link rel="stylesheet" href="/styles/error.css">{% endblock css %}

{% block main %}
    <section id="error" class="border-red box">
        <h1>ERROR 404</h1>

    </section>
    <p class="unpleasant-message">Y'a personne ici. Casse toi.</p>
{% endblock main %}