{% extends 'base.html.twig' %}

{% block css %}<link rel="stylesheet" href="styles/about.css">{% endblock css %}

{% block title %}A propos{% endblock %}

{% block main %}
    <section id="about" class="box">
        <h1 class="border-red">A propos de moi</h1>
        <section id="bio" class="border-red">
            
        </section>


        <section id="cv">
            
            <section id="xp-pro" class="border-red">
                
            </section>
                
    
            <section id="studies" class="border-red">
                
            </section>
        </section>




        <section id="hobbies" class="border-red">

        </section>
    </section>
{% endblock %}
